@import '~antd/dist/antd.css';

body{
    background-color:#2b3448;
}

.ant-modal-content{
    background-color: #222a3a;
    color: cornsilk;
}
.ant-modal-header{
    background-color: #222a3a;
}

.ant-card{
    background-color: #222a3a;
    margin-bottom: 8%;
}

.ant-card-actions{
    background-color: #222a3a;
}

.ant-card-meta-description,.ant-card-meta-title,.ant-result-title,.ant-result-subtitle,.ant-comment-content-author,.ant-comment-content-author-name,.ant-comment-content-detail,.ant-list-header{
    color: cornsilk;
}
.ant-result {
    padding: 7% 32px;
}
.ant-modal-title{
    color: cornsilk;
    font-weight: 900;
}

